matplotlib==3.1.2
dataclasses==0.6
gpflow==2.0.0
tensorflow==2.5.3
numpy==1.17.4
typing==3.6.2
tqdm==4.40.2
scipy==1.4.1
pytest==5.4.1
pytest-check==0.3.8
scikit_learn==0.22
tensorflow_probability==0.9.0
yapf==0.29.0
xlrd==1.2.0
pandas==1.0.3
